// Font Declarations

@font-face
	font-family 'FeelsLikeEcomm'
	src url('../fonts/FeelsLikeEcomm.woff2') format('woff2')
	font-weight normal
	font-style normal
	font-display swap

// Font Variables
:root
	--font-primary: 'FeelsLikeEcomm', -apple-system, BlinkMacSystemFont, 'Segoe UI'
	
	--font-secondary: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif

// Font Classes
.font-primary
	font-family var(--font-primary)

.font-secondary
	font-family var(--font-secondary) 