doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Feels Like E-comm
		link(rel="stylesheet", href="./css/main.css")
	body
		.container
			h1.written-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. ABCDEFGHIJKLMNOPQRSTUVWXYZ 1234567890 €$ ¿?¡!#@*+

		
		script(src="./bundle.js") 